###  The ```print()``` function displays information on the screen

The simplest python program is

```python
print('Hello World')
```  

While simple, this single line of code does quite a lot.

- This is a command to display the information ```Hello World``` on the screen of a computer.  

- This is achieved using the ```print``` **built-in function**.

- A **built-in function** is a function that is provided as part of the Python programming language.

- The **arguments** of the function are the data to be displayed on the screen.

- In the example above, there is only one argument, ```'Hello World'```, which is of a **data type** called **string**.

In [ ]:
#In this code block, modify the code to display any message you like
print("Idk what to write.")

Idk what to write.

### There are three data types: ```int``` , ```float``` and ```str```.

Let's **execute** the ```print``` function again, this time passing three arguments to it. The arguments are separated by commas.

```python
print('Zoo', 1, 1.0)
```

This serves to illustrate three basic **data types**

- **string** (```str```) strings are meant to store text and can be declared by enclosing them between single quotes or double quotes e.g. ```'zoo'``` and ```"zoo"```
- **integer** (```int```) the integer data type is used to store whole numbers
- **float** (```float```) short for "floating point numbers", this data type is meant to store numbers that have a decimal place.

> Optional. You may want to read more about floating point numbers.

In [ ]:
name = "Josiah Chew"
age = 11
height = 1.55
print(f"My name is {name} and I am {age} years old. My height is {height} too!")

My name is Josiah Chew and I am 11 years old. My height is 1.55 too!

In [ ]:
phone = "iPhone"
version = 13.1
print(f"This is my {phone} and it is version {version}.")

This is my iPhone and it is version 13.1.

### You use the assignment operator to assign data types to variables

The print function is one of the most-often used functions in python.

However, computer programs won't be useful if all they do is just display information on the screen.

Very often, we need to store, access and manipulate information.

How we do this is to assign the data types to **variables** to form **statements**.

In the following example, there is one statement, that creates a piece of information and stores it in memory.

```python
item = 'rice'
```

This is translated in English as:

---
> The string ```'rice'``` is **assigned to** the variable named ```item```
>
---

When a data type is declared, it is stored in a memory location.

The ```=``` sign is called the **assignment** operator.

It assigns the memory location of the string```rice``` to the variable named ```item```.

----
> **Please Note**
>
> The ```=``` sign does not have the same meaning as in mathematics.
>

------

The diagram illustrates what happens in the memory.

The gray zone represents the memory, and it currently shows that the variable ```item``` is pointing to the string ```'rice'```.

<img src="https://drive.google.com/uc?export=view&id=1YztwFqHm8qh9yDMfHOg_kPZ9cGyEQDgr" alt="assignment in memory"
	title="assignment in memory" width="400" />

### Variables allow you to access the data assigned to them

In the following example, we show you how to declare variables with the ```int``` and ```float``` datatype.

```python
quantity = 2
weight = 7.5
```

You can then *access* the information stored by typing the variable name. The following example shows two statements that do this with the variables declared earlier.

```python
print(item,quantity, weight)  
total = quantity * weight
```

In [ ]:
item = 'rice'
quantity = 2
weight = 7.5
total = quantity * weight
print("TLC Plaza")
print("2/11/24, 3.37 pm")
print("Items")
print(quantity, " ", item, " $9.99  (", weight, "kilotons)")
print("Price  =   $9.99")
print("TLPoints = 3754")
print("Discount = -30%")
print("Price = $6.99")
print("GST = $0.60", )
print("-"*20)
print("Total price = $7.59")
print("Enjoy your day! Please come again!")
print("+ 8 TLPoints")
print("Total TLPoints = 762")

TLC Plaza
2/11/24, 3.37 pm
Items
2   rice  $9.99  ( 7.5 kilotons)
Price  =   $9.99
TLPoints = 3754
Discount = -30%
Price = $6.99
GST = $0.60
--------------------
Total price = $7.59
Enjoy your day! Please come again!
+ 8 TLPoints
Total TLPoints = 762

### Variable names in python follow some rules.

Python rules state that a variable name
- can only begin with a letter or underscore
- can contain numbers, letters and underscore
- cannot contain spaces or operators
- is case sensitive.

In the following, identify the legal variable names.

```python
banana_
banana1
_banana
bana+na
Banana
```

### The built-in function ```type()``` tells you the data type of a variable

You can use the python built-in ```type``` function to check the data type of the variable. Here is an example.

```python
a = 'apple'
print( type(a) )
```

- The string ```'apple'``` is assigned to the variable ```a```.

- The ```type()``` function is then **executed** by specifying ```a``` as an argument.

- As the ```type()``` function is itself an argument of the ```print``` function, the output of the type function is given to the print function.

In [ ]:
word = "berserk"
print(type(word))

<class 'str'>

### The built-in functions ```int()```, ```float()``` and ```str()``` convert one data type to another.

These functions take in only one argument.  Let's look at the following example.

```python
a = 1.0
b = str(a)
print(type(b))
```

- The ```str``` function has taken in a ```float``` object as an argument.
- It then returns a **string** object and assigns it to ```b```.
- The third line then helps to confirm that ```b``` is now assigned to a string.

> Observe that ```1.0``` and ```'1.0'``` are different datatypes.

The other functions ```float()``` and ```int()``` do similar tasks. Do experiment with them.

In [ ]:
## run the following code, can you explain what is happening?
a = "1.23"
b = float(a)
print(a,b)
print(type(a), type(b))
#b is the float type, a is a string

### Python statements

A python **statement** is an instruction that python can execute. In the following example, all these are python statements.

```python
a = 1.0
print(a)
b = int(a)
```

### Arithmetic operators can be used on ```int``` and ```float``` data types

The arithmetic operators ```+ - * /``` perform numerical operations on the data types of ```int``` and ```float```.

In [ ]:
a = 5 + 3
b = 5 - 3
c = 5 * 3
d = 5 / 3
print(a,b,c,d)

8 2 15 1.6666666666666667

#### Integer Division

The ```//``` operator is the integer division operator. Try the following example to see what it does.

In [ ]:
#run the code to see what the integer division operator does
a = 10
b = 7
c = a/b #gives float
d = a//b #gives integer division result, whole number only
print(c, d)

1.4285714285714286 1

#### Exponentiation

The ```**``` operator is the exponentiation operator.

The following code shows you how you would use this operator to calculate the value of 2<sup>3</sup>.

In [ ]:
print(2**3)

8

#### Modulo

The ```%``` operator is the **modulo** operator. This gives you the remainder after dividing the first number by the second. The following example is read as "seven modulo three".

In [ ]:
print(7%3)

1

---
> **Think about the following**
>
> How would you use the modulo operator to check if a value is a multiple of 3?
>
---

You can use the code box below to try your ideas.

In [ ]:
a = 3
b = 6
c = 7
### Use the modulo operator
### TODO: type code to determine if b is a multiple of a.
if b%a == 0 :
    print("yes,b is a multiple of a.")
else:
    print("no,b is not a multiple of a.")
### TODO: type code to determine if c is a multiple of a
if c%a == 0 :
    print("yes,c is a multiple of a.")
else:
    print("no,c is not a multiple of a.")
#if R=0, it is a multiple of a

yes,b is a multiple of a.
no,c is not a multiple of a.

#### Operator Precedence

The operator precedence in python, from highest to lowest, is:
- exponentiation: ```**```
- multiplication and division ```* / ```
- addition and subtraction ``` + - ```

Parentheses can be used to force precedence. The following example illustrates.

In [ ]:
a = 2 + 3 * 4
b = (2 + 3) * 4
# print out the values of a and b
print(a,b)

14 20

### Initialize all variables before using them

Suppose your intention is to calculate the area of a triangle. Merely typing the statement below will not be helpful.

```python
area = 0.5*base*height
```

The sequence of statements is also important.

The values of ```base``` and ```height``` would have to be specified first.

Then, the area calculation can then be executed.

In [ ]:
#put in the missing statements, and use any value you like
#lastly, display the value of the area
base = 5
height = 6
area = 0.5 * base * height
print(area)

15.0

### The statement ```x = x + 1``` updates the value of ```x```.

Consider the following example.

```python
x = 2
x = x + 1
```

The statement ```x = x + 1``` would not make much sense in mathematics.

However, in Python, recall that ```=``` means to **assign**.

Hence, this is what the python interpreter does
- first, the variable ```x``` is assigned to ```2```.
- it evaluates ```x + 1``` to ```3```.
- it then assigns the result back to ```x```, thus ```x``` is now assigned to ```3```.

In other words, ```x = x + 1``` means that the result of evaluating ```x + 1``` is assigned back to the name ```x```.

This is illustrated in the following diagram, which describes what happens in the memory of the computer.

![x = x + 1](https://drive.google.com/uc?export=view&id=1OxzWcgLYpUReWwyX2WaSi8M0qp5nzna1)

In [ ]:
x = 20
## TODO: fill in a statement, such that 18 is displayed by the next line.
x = x - 2
print(x)

### You can use single-quotes or triple-quotes to declare strings.

#### Single-quoted strings

 In the following example,
-  a string can be enclosed between single quotes or double quotes. The enclosing quotes must match.
-  using single quotes allow the string to contain a double-quote character and vice versa.

In [ ]:
a = ' "why?", asked Muriel.'
b = " Land's End "
print(a)
x = 7567756754567
print(b)
x +=1
print(x)

 "why?", asked Muriel.
 Land's End
7567756754568

#### You can include escape characters in a string

There are several **escape characters** that you can use. Here are two commonly-used ones.
- ```\n``` represents a new line.
- ```\t``` represents a tab.

Execute the code below to see the effect of the newline escape character.

In [ ]:
a = 'The Animals were taken aback.\n"Why?" cried Muriel. '
print(a)

The Animals were taken aback.
"Why?" cried Muriel.

#### Triple-Quoted Strings

Strings can also be enclosed within triple-quotes, which then allows you to declare multi-line strings without using escape characters.

Similarly, the triple-quotes must match.

In [ ]:
a = '''The Animals were taken aback.
"Why?" cried Muriel. '''
b = """ The Animals were taken aback.
"Why?" cried Muriel. """
print(a)
print(b)

The Animals were taken aback.
"Why?" cried Muriel.
 The Animals were taken aback.
"Why?" cried Muriel.

### You can use the ```+``` operator with two strings

Coming back to the ```print``` function, you could write code like this to display ```My name is Tanjiro``` on the screen, by providing two arguments to the ```print``` function.

```python
name = 'Tanjiro'
print('My name is', name)
```

An alternative is to use the ```+``` operator to perform **string concatenation** i.e. joining strings to make a longer string.

This is because the ```+``` operator behaves differently when it sees two strings vs two numbers.

In [ ]:
name = 'Tanjiro'
print('My name is' + name)

In [ ]:
# The following will result in an error when executed.
# Can you explain why and suggest one way to fix the error?

age = str(16) #convert to string
print('I am ' + age + ' years old')

I am 16 years old

### The ```input``` function makes your program interactive

In [ ]:
name = input('What is your name? ')
age = int(input("whats ur age? "))
print('Hello', name,'!',"You are",age,"years old!")

What is your name? 9
Hello 9 !

The ```input``` function
- displays the message on the screen
- reads what the user types in the keyboard
- returns it as a string.

Finally, the string is assigned to the variable ```name```.

### The boolean data type has only two possible values, ```True``` and ```False```

There is another datatype called **boolean**, which is either ```True``` or ```False```. Note that these are keywords, and not strings. The keywords are also case-sensitive.

```python
a = True
b = False
```

### Boolean expressions are formed by comparison operators and evaluate to ```True``` or ```False```.

**Comparison operators** compare two values and the entire boolean **expression** evaluates to either ```True ``` or ```False```.

The six operators are shown below.

In [ ]:
a = 10
b = 3
print(a == b)
print(a != b)
print(a > b)
print(a >= b)
print(a < b)
print(a <= b)

False
True
True
True
False
False

A boolean expression can be assigned to a variable to form a statement.

In the code below, what is the data type of ```result```?

In [ ]:
a = 10
b = 3
result = a > b
print(result) #gives boolean data type

True

### Logical operators combine two boolean expressions


This represents more complicated conditions. For example, notice that there are two conditions in the following:

---
> "Hmm, is it raining today, and do I have an umbrella?"
---

The three logical operators are illustrated in the code below.

Read the code and predict the values of ```condition1```, ```condition2``` and ```condition3```.  

Then write suitable python code to check your answer.

In [ ]:
b = 3
condition1 = (b > 0) and ( b % 2 == 0)
condition2 = (b > 0) or (b % 2 == 0)
condition3 = not (b % 2 == 0)

### TODO. Write code to check the values of the variables above
print(condition1)
print(condition2)
print(condition3)

False
True
True

### The if-else statement uses boolean expressions to make a selection.

We would probably make such decisions every day

- If it is raining,
  - I'll stay at home
  - Do my favourite at-home activity    
- else
  - I will go out
  - Do my favourite outdoor activity

Here's an example of an if-else statement being used to display messages on the screen.

- Statements belonging to each condition must be indented, and it is typical to use four spaces.

- The else-block can be omitted.

In [ ]:
b = 3
if ( b % 2 == 0):
    print("Even number")
else:
    print("Odd number")

#### You can use boolean variables as a condition

Doing so improves the readability of your program and is a recommended programming practice.

In [ ]:
b = 3
is_even = b % 2 == 0
if ( is_even ):
    print("Even number")
else:
    print("Odd number")

#### The else-block can be omitted.

The else-block is not compulsory and can be omitted if necessary.  

In the example below, there is no message to be printed out if the age is not 21, so the else-block is not printed out.

In [ ]:
age = 11
print("You are ", age, "years old")
if ( age >= 21):
    print("congratulation, you are an adult")

You are  11 years old

---
> **Think about the following**
>
> What would be displayed on the screen?
>
> ```python
> b = 3
> if ( b % 2 == 0):
>    print("Even number")
> print("Odd number")
> ```

### The ```None``` keyword is a special value that is used to represent the lack of information.

Note that ```None``` is a keyword, not a string.

In future lessons, we will encounter situations where we will have to use this keyword, so a simple example will be sufficient here.

```python
a = None
if( a == None):
    print(a)

In [ ]:
print(False + True)

1

### Good programming practices are important as it helps you and other people to understand your code

#### Why adopt good programming practices?

1. **It helps other humans who read your code to understand your intentions better**. All programming code is communication, not just to the computer to execute your instructions, but to you and others working with you.

2. **It helps you to work better and faster**. Often you have to find out what is wrong with your code (this is called **debugging**), and our recommended practices help you in this process.

#### Give variables meaningful names.

This helps in readability to enable yourself or other people to understand your intentions.

It is typical to name variables with lowercase letters. If you have to use more than one word, use underscores to separate them.

Which of the following code fragments is more readable?

```python
a = 5
b = 3.14159
c = b*c*c
```

```python
radius = 5
PI = 3.14159
area_of_circle = PI*radius*radius
```

### Test early and often

We do not write our programs at once, but we check the output of intermediate steps before proceeding with the next step.

We use the ```print``` function to do so.

Also, we break up a complicated calculation into simpler steps.

The following example illustrates.

```python
radius = 5
PI = 3.14159
length = 20
area_of_circle = PI*radius*radius
# I check the area calculation first to see if it is correct.
print(area_of_circle)
volume_of_cylinder = area_of_circle*length
# Once I know that the area is correct, I have more confidence that the volume is correct too
print(volume_of_cylinder)
```

#### Avoid naming your variables after built-in functions

If you forget this advice, python will prevent you from using these functions later in your code.

Think of it as crossing the road on a red light while the road is empty - you shouldn't do it even if you can.

In the coming weeks, you will learn more of these built-in functions.

```python
#this must be absolutely avoided!!
#since int is a built in function
int = 1

#this must also be absolutely avoided!!
sum = 0
```

#### Make use of comment statements to document your code

If you use meaningful variable names, your code can be self-documenting.

There could be situations where your code needs further explanation. You can use comment statements, which are prefixed by a ```#```.

### A for-loop enables you to repeat statements

We often have tasks that require repetition.

For example, a person counting the number of people entering a shop will press a button on a counter every time a person passes by.

Suppose you would like to display the following text on the screen.

```python
green bottle 0
green bottle 1
green bottle 2
```

One way is to execute the print function three times.  

Recall what ```i = i + 1``` means.

```python
i = 0
print('green bottle', i)
i = i + 1
print('green bottle', i)
i = i + 1
print('green bottle', i)
```

However, we notice the following
- the ```print``` statement is identical and repeated
- the value of ```i``` increases by one each time

We can use the **for-loop** to express the same set of code.

Any statement that is to be repeated is indented four spaces below the ```for```-statement.

The ```range(n)``` function is a function that gives integers starting from ```0```, *up to but not including* ```n```.

In [ ]:
for i in range(3):
    print('green bottle', i)

green bottle 0
green bottle 1
green bottle 2

In [ ]:
for e in range(1,8) :
    print("e",e)
    for b in range(1, 5):
        print("b",b)

In [ ]:
for i in range(50):
    print("Playing minecraft.")

Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.
Playing minecraft.

Thus, in the code above,
- the first value of ```i``` will be ```0```
- the print statement will be executed
- the next value of ```i``` will be ```1```
- the print statement will be executed
- the next value of ```i``` will be ```2```
- the print statement will be executed

**Exercise**

Write a for-loop to display:

```python
I am drinking 0 bubble tea.
I am drinking 1 bubble tea.
I am drinking 2 bubble tea.
I am drinking 3 bubble tea.
I am drinking 4 bubble tea.
```

In [ ]:
for i in range(5):
  print("I am drinking",i,"bubble tea")
#range 5 is a list: 0, 1, 2, 3, 4
#hence "for" assigns i to each value in the list and prints it out

I am drinking 0 bubble tea
I am drinking 1 bubble tea
I am drinking 2 bubble tea
I am drinking 3 bubble tea
I am drinking 4 bubble tea

## Turtle World

### Introduction

```turtle``` is a **library** for drawing using python commands and is useful for illustrating programming concepts.

A **library** in python is a set of reusable code.

**Google colaboratory does not have the turtle library, so you would have to use the IDE on your laptop for this.**

This is the minimum code that you need.

```python
import turtle

t = turtle.Turtle()

turtle.done()
```

- ```import turtle``` is a statement that imports the ```turtle``` library.
- next, ```turtle.Turtle()``` means that the ```Turtle()``` function belonging to the ```turtle``` module is executed. This creates a turtle object in memory, which is assigned to the variable ```t```.
- At the same time, a window pops up showing an arrow pointing to the right. This is your turtle object. By accessing the variable ```t```, we will see that we can control this.
- lastly, the final command is ```turtle.done()```.

### To see that you can control the turtle object, change the shape of the turtle

With the minimum code given above, you get a window that shows a triangular cursor (the turtle object) pointing to the right.  

By accessing the variable ```t```, you can control this turtle object.

To illustrate this, the following example shows how you can write code to change its shape.

```python
import turtle
t = turtle.Turtle()
t.shape('turtle') # <---
turtle.done()
```

For brevity and in case you don't like turtles, subsequent examples will leave out the ```t.shape()``` command.

You can refer to the [turtle documentation](https://docs.python.org/3/library/turtle.html).

### Commands are executed in sequence

Initially, the turtle is pointing to the right (think of it as the positive x-axis in the conventional way).

Another way to control the turtle object is to get it to move.


The following example shows how you get the turtle to move forward 100 units, and then turn 90 degrees **to the right**.

```python
import turtle

t = turtle.Turtle()
t.forward(100)  # (a)
t.right(90)     # (b)
turtle.done()
```

What would happen if you switched the order of commands (a) and (b)?

```python
import turtle

t = turtle.Turtle()
t.right(90)    #(b)
t.forward(100) #(a)
turtle.done()
```

With these commands only, try drawing a
- square
- equilateral triangle

### You can use a for-loop to repeat commands

Notice that the set of commands needed to draw a square are executed four times.

```python
import turtle
t = turtle.Turtle()
t.forward(100)   
t.right(90)
t.forward(100)   
t.right(90)      
t.forward(100)   
t.right(90)      
t.forward(100)   
t.right(90)            
turtle.done()
```

We can use a for-loop to eliminate this repetition:

```python
import turtle  

t = turtle.Turtle()

for i in range(4):
    t.forward(100)   
    t.right(90)

turtle.done()
```

In this case, ```i```, which is the counter variable, is not used.

With these commands, and using a for-loop, try drawing
- an equilateral triangle
- a hexagon

### You can use conditionals to make a choice

Let's suppose you would like to draw a square, but you want to show only one set of parallel sides.

The turtle has the ```penup()``` and ```pendown()``` commands. By executing the ```penup()``` command, no line is drawn.

Going by our initial example, we could do it this way.  

```python
import turtle
t = turtle.Turtle()
t.pendown()    # <---- pen down
t.forward(100) # 0th repetition   
t.right(90)
t.penup()      # <---- pen up
t.forward(100) # 1st repetition   
t.right(90)
t.pendown()    # <---- pen down
t.forward(100) # 2nd repetition   
t.right(90)  
t.penup()      # <---- pen up
t.forward(100) # 3rd repetition   
t.right(90)            
turtle.done()
```

Counting from ```0```, notice that the ```penup()``` command is executed on the 1st and 3rd repetition, while ```pendown()``` is executed on the 0th and 2nd repetition.

Here is how we might do it in our for-loop. You have to decide what to fill in for ```missing_condition```.

```python
import turtle  

t = turtle.Turtle()

for i in range(4):
    if( missing_condition ):
        t.pendown()
    else:
        t.penup()
    t.forward(100)   
    t.right(90)

turtle.done()
```

## Problem Set

These problems will be attempted during class or in your own time.  

Please attempt them on the IDE on your computer.

Your instructor may also choose some of them to demonstrate in class as an example.

You will not need to submit them.

### Problem 1.01 Body Mass Index

In [ ]:
weight = float(input('What is your weight in kg?'))
height = float(input('What is your height in m?'))
bmi = weight/(height*height) #input gives string data type.

print('Your BMI is', bmi)

What is your weight in kg?89
What is your height in m?1.87
Your BMI is 25.45111384369012


- The following code, when run, has errors. Read the errors for clues on what is wrong. Modify the code so that the errors no longer occur.

- This shows you that even if the syntax is correct, errors can come from working with the wrong datatype.

- Errors in your program can also come from calculations programmed wrongly. Check the code below for such errors.

- Once you have fixed the errors, make another modification:  
  - If the BMI is outside of the range 18 - 25, display the message ```good nutrition is important```.
  - else, display the message ```congratulations, don't forget to exercise regularly```  

```python
weight = input('What is your weight in kg?')
height = input('What is your height in m?')
bmi = weight/height*height #input gives string data type.
print('Your BMI is', bmi)
```

### Problem 1.02 Quadratic Equation

A short interactive session is shown as follows.

It calculates the value of $f(x) = x^2 + 5x - 4$.

Write the necessary python code for it.

```
Enter the value of x: 1
The value of f(x) is 2
```

In [ ]:
# try desmos
x = float(input("Enter the value of x: "))
y = x ** 2 + 5 * x - 4
print(f"The value of f(x) is {int(y)}")

Enter the value of x: 15135092310004511134797853686560649726120453269477765973948336014733655382558996911348218175870637151099115620693170651263904425775265352126653754633313419804311752730531069952

OverflowError: (34, 'Numerical result out of range')

### Problem 1.03 Geometric Series (Skipped)

A geometric series has first term $a$ and common ratio $r$. Its sum is given by

\begin{equation}
\sum_{i = 0}^{n-1} ar^i = \frac{a(1 - r^n)}{1 - r}, r \neq 1
\end{equation}

Write a short script to calculate the sum give a value of $a$, $r$, $n$. Use the formula given.

This is how we check that our program works correctly:  
- choose suitable values of $a$, $r$ and $n$
- work out the result by hand.
- compare your program's output with your answer.

You do not need to use the ```input()``` function.

Display the result in any way you like e.g.

```
The sum is 1.234
```

### Problem 1.04 Address Format

In [ ]:
addressee = "Singapore Post Pte Ltd"
house_number = "10"
road_name = "Eunos Road 8"
unit_number = "# 05-33"
building_name = "Singapore Post Centre"
postal_code = "408600"
print(addressee)
print(f"{house_number} {road_name}")
print(f"{unit_number} {building_name}")
print(f"Singapore {postal_code}")

Singapore Post Pte Ltd
10 Eunos Road 8
# 05-33 Singapore Post Centre
Singapore 408600

The address format in Singapore, as recommended by the postal regulator, is as follows.

```
Singapore Post Pte Ltd
10 Eunos Road 8
#05-33 Singapore Post Centre
Singapore 408600
```

The fields are:
```
[addressee]
[house number] [road name]
[unit number] [building name]
Singapore [postal code]
```

Write a python script to help you display the address in the required format.

Asssume that all fields are present.

The following script is started for you.

```python
addressee = "Singapore Post Pte Ltd"
house_number = "10"
road_name = "Eunos Road 8"
#declare more variables

s = addressee + "\n"
#add more statements
print(s)
```

### Problem 1.05 Income tax

In [ ]:
income = int(input("Annual Income: "))
if income > 20000:
    tax = income / 20
else:
    tax = 0
print(f"The tax payable on an income of {income} is ${round(tax,2)} dollars.")

Annual Income: 6250
The tax payable on an income of 6250 is $0 dollars.

Income tax rates on your annual income are charged as follows.
- if your annual income is \$20000 or below, no tax is charged     
- else, the tax rate is 5% on any income earned above \$20000.

Write a python script to carry out this calculation. You need not use the ```input()``` function. Display the result as follows.

```
The tax payable on an income of 30000 is 500 dollars.
```

### Problem 1.06 Green bottles

Write a script to diplay the following.

Use a for-loop in your script.

```python
green bottle 1
green bottle 3
green bottle 5
green bottle 7
green bottle 9
```

In [ ]:
for i in range(1,10,2):
    print(f"Green Bottle {i}")

Green Bottle 1
Green Bottle 3
Green Bottle 5
Green Bottle 7
Green Bottle 9

### Problem 1.07 General term of sequence

A sequence has general term

\begin{equation}
a_n = \frac{n^3 + 3n + 5}{n^2 + 1}
\end{equation}

Write a script to display the value of each term for any number of terms, starting from n = 0.

The first three terms are shown below.

```
n = 0: 5.0
n = 1: 4.5
n = 2: 3.8
```
We begin the script for you.

```python
number_of_terms = 10
for n in range(number_of_terms):
     #continue the code
```

### Problem 1.08 Sum using a loop

Suppose you had to calculate

\begin{equation}
S_n = 1 + 2 + 3 + 4 + ... + (n-1) + n
\end{equation}

Use a for-loop to calculate $S_n$ for any value of $n$.

Display the result as

```
The sum is 55
```

Avoid using the general formula for $S_n$.

We begin the script for you.

```python
n = 10
total = 0  # see note below
for i in range(n):
    #complete the code
```

---
> **Note**.
>
> We deliberately named this variable ```total```. Avoid naming this variable ```sum``` as ```sum``` is a python built-in function.
>
---

### Problem 1.09 Sum using a loop (2)

Modify your script in **Problem 1.07**.

For any number of terms, you are required to calculate the sum of the series instead.  

Display the result as follows.

```
The sum of 10 terms is 59.18465314669046
```

We begin the script for you.
```python
number_of_terms = 10
total = 0
for n in range(number_of_terms):
    #continue the code
```

### Problem 1.10 Swap

Consider the following code fragment.

```python
a = 10
b = "apple"
## some missing code here
print(a , b)
```

When executed, it can be seen that the values have been swapped.

```
apple 10
```

Write the missing code that causes the values of ```a``` and ```b``` to be swapped.

---
> **Note**
>
> We will see in Lesson 4 that there is a shorter way in Python to swap variables.
>#use temp = x OR
>use #x, y = y, x
---

### Problem 1.11 Write a program from a flowchart

Most  computer programs follow the **input** - **process** - **output** model.

Given the following flowchart, write the corresponding python program.

If there is more than one condition to check in an if/else block, use the ```elif``` keyword e.g.

```python
if( condition1):
  ## do something
elif( condition2):
  ## do something else
  ## you can have as many elif blocks as necessary
else:
  ## do some other thing
```

![x = x + 1](https://drive.google.com/uc?export=view&id=1MPcj9UudHf4W3iZIDndm2Z0mVn9QAO1K)

### Problem 1.12 Draw a regular polygon

Draw a regular polygon of n-sides using the turtle library.

You may wish to include commands to
- set the line thickness and/or colour
- fill the polygon with colour  

These decisions are left to your own exploration.

For these commands, refer to the [documentation](https://docs.python.org/3.3/library/turtle.html?highlight=turtle).

### Problem 1.13 [If you have time] Pick one letter from the Korean alphabet to draw.

Choose one letter from the [korean alphabet](https://www.90daykorean.com/how-to-learn-the-korean-alphabet/) to draw using the ```turtle``` library.